@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #11d452;
  --color-background-dark: #102216;
  --color-background-light: #f6f8f6;
  --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-black text-white font-sans antialiased;
  }
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}
